.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 22px 20px;
    gap: 16px;
    background: $dark-grey;
    color: $white;

    span {
        color: $white;

        @media (min-width: 1024px) {
            padding-right: 3rem;
        }
    }

    a {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
    }

    i {
        width: 27px;
    }

    li {
        line-height: 30px;
    }
    @media (min-width: 1024px) {
        display: flex;
        flex-direction: row-reverse;
        padding: 60px 25px;
        padding-bottom: 1.5rem;
    }
    ul {
        @media (min-width: 1024px) {
            display: flex;
            flex-direction: row;
            gap: 16px;
            padding-right: 5rem;
        }
    }
}
