.loader {
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: $white;
    opacity: 0.6;
    animation: disappear 2s forwards;
    z-index: 100;
    inset: 0;
    pointer-events: none;
    animation-delay: 200ms;

    &-icon {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        border: 7px solid $primary-color;
        border-right: 7px solid $white;
        animation: spin 700ms infinite;
    }
}

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
