@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap");

/*styling title tags*/

a {
    color: inherit;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

h4,
li {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

h2 {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 24px;
}

h3 {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 18px;
}

p {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 17px;
}
span {
    font-family: "Shrikhand";
    font-weight: 400;
    font-size: 18px;
}
