/*Homepage*/

/*Location section*/
.location {
    @include flex-row;
    @include position-center;
    background: $light-grey;
    gap: 17px;
    padding: 1rem;
    h4 {
        color: $dark-grey;
    }
}

/*Explore section*/
.explore {
    background: $grey-explore;
    @include text-center;
    @include position-center;
    @media (min-width: $breakpoint-destok) {
        & {
            display: flex;
            flex-direction: column;
        }
    }
    h2 {
        line-height: 32px;
        padding-top: 2rem;
        margin-bottom: 0.5rem;
        @media (min-width: $breakpoint-destok) {
            margin-bottom: 1.9rem;
        }
    }

    & p {
        line-height: 23px;
        @include text-center;
        color: $dark-grey;
        margin-bottom: 1.75rem;
    }

    .btn {
        height: 50px;
        width: 219px;
        @include position-center;
        @include text-center;
        margin-bottom: 2rem;
        display: flex;
    }
    @media (min-width: $breakpoint-destok) {
        button {
            margin-top: 0;
        }
    }
}
/*End of Explore section*/

/*Section function & restaurant*/

.maincontent {
    display: flex;
    flex-direction: column;
    background-color: $white;
}
/*Function section*/
.function {
    @media (min-width: $breakpoint-destok) {
        display: flex;
        flex-direction: column;
        padding: 0 10rem;
    }

    h2 {
        padding: 3rem 1rem;
        @media (min-width: $breakpoint-destok) {
            padding: 3rem 0;
        }
    }
    &__btn {
        color: $black;
        margin-top: 1rem;
        padding: 1.5rem 2rem;
        border: none;
        border-radius: 20px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        align-items: center;
        background: $dark-white;
        //Hover effect
        // &:hover {
        //     background-color: #efdfff;
        // }
    }

    ol {
        @include flex-column;
        gap: 2rem;
        counter-reset: numberlist;
        padding: 0 1rem 4rem 1.7rem;
        @media (min-width: $breakpoint-destok) {
            display: flex;
            flex-direction: row;
            padding: 0 0 3rem 0.5rem;
        }
    }

    li {
        display: flex;
        counter-increment: numberlist;
        @include relative;
        list-style-type: none;
        background-color: $dark-white;
        padding: 1.5rem 2rem;
        border-radius: 20px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        @media (min-width: $breakpoint-destok) {
            width: 100%;
            margin: 0;
        }
        &::before {
            display: grid;
            @include absolute;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-color: $primary-color;
            left: -0.7rem;
            @include position-center;
            content: counter(numberlist);
            color: $white;
        }
    }

    i {
        margin-right: 1rem;
        font-size: 16px;
    }
    .grey {
        color: grey;
    }

    .violet {
        color: $primary-color;
    }
}
/*End of Function section*/

/*list of restaurants*/
.restaurants {
    background-color: $grey-explore;
    padding: 3rem 1rem;
    @media (min-width: $breakpoint-destok) {
        padding: 3rem 10rem;
    }

    #restaurants-cards {
        @include flex-column;
        gap: 1rem;
        padding: 2rem 0;

        @media (min-width: $breakpoint-destok) {
            display: grid;
            gap: 4rem;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

/*End of Homepage*/
