/*Hero banner*/
.banner {
    img {
        width: 100%;
        height: 275px;
        object-position: center bottom;
        object-fit: cover;
        display: block;
        @media (min-width: $breakpoint-tablet) {
            height: 300px;
            object-position: 0;
        }
        @media (min-width: $breakpoint-destok) {
            height: 440px;
            object-position: 0;
        }
    }
}

/*Menu section*/
.menu {
    background: $dark-white;
    border-radius: 40px 40px 0px 0px;
    margin-top: -3.3rem;
    position: sticky;
    padding: 2rem 1rem;
    max-width: $max-destok;
    margin: auto;
    @media (min-width: $breakpoint-destok) {
        padding: 2rem 11rem;
        margin-left: 10rem;
        margin-right: 10rem;
    }
}

.menu__title {
    padding-bottom: 2rem;
    @include flex-row;
    font-weight: 400;
    font-size: 28px;
    font-family: "Shrikhand", cursive;
    @media (min-width: $breakpoint-destok) {
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    /*Heart animated*/
    .heart {
        right: 2rem;
        @media (min-width: $breakpoint-destok) {
            position: inherit;
            right: 0;
        }
    }
}
/*Entry & dishes & dessert*/
.section__menu {
    gap: 1rem;
    @include flex-column;
    padding-bottom: 2rem;
    @for $i from 1 through 3 {
        &:nth-last-child(-n + 2) {
            animation-delay: 1s * $i;
        }
        animation: appearance 2s;
        animation-fill-mode: both;

        @keyframes appearance {
            0% {
                transform: scale(0);
            }
            100% {
                transform: scale(1);
            }
        }
        h3 {
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            border-bottom: 3px solid $tertiary-color;
            padding-bottom: 0.5rem;
            text-transform: uppercase;
            width: 40px;
        }
    }
}
.order {
    display: flex;
    justify-content: center;
}
