/*Hero banner*/
.banner {
    img {
        width: 100%;
        height: 275px;
        object-position: center bottom;
        object-fit: cover;
        display: block;
        @media (min-width: 768px) {
            height: 300px;
            object-position: 0;
        }
        @media (min-width: 1024px) {
            height: 440px;
            object-position: 0;
        }
    }
}

/*Menu section*/
.menu {
    background: $dark-white;
    border-radius: 40px 40px 0px 0px;
    margin-top: -3.3rem;
    position: sticky;
    padding: 2rem 1rem;
    max-width: 1440px;
    @media (min-width: 1024px) {
        padding: 2rem 11rem;
        margin-left: 10rem;
        margin-right: 10rem;
    }
}

.menu__title {
    padding-bottom: 2rem;
    @include flex-row;
    font-weight: 400;
    font-size: 28px;
    font-family: "Shrikhand", cursive;
    @media (min-width: 1024px) {
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    /*Heart animated*/
    .heart {
        right: 2rem;
        @media (min-width: 1024px) {
            position: inherit;
            right: 0;
        }
    }
}
/*Entry & dishes & dessert*/
.section__menu {
    gap: 1rem;
    @include flex-column;
    padding-bottom: 2rem;
    @for $i from 1 through 3 {
        &:nth-last-child(-n + 2) {
            animation-delay: 1s * $i;
        }
        animation: appearance 2s;
        animation-fill-mode: both;

        @keyframes appearance {
            0% {
                transform: scale(0);
            }
            100% {
                transform: scale(1);
            }
        }
        h3 {
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            border-bottom: 3px solid $tertiary-color;
            padding-bottom: 0.5rem;
            text-transform: uppercase;
            width: 40px;
        }

        .card {
            background: $white;
            box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            @include pointer;

            h4 {
                font-family: "Roboto";
                font-style: normal;
                font-weight: 500;
                margin: 0;
                font-size: 18px;
                padding: 0.3rem 0;
            }

            p {
                font-family: "Roboto";
                font-style: normal;
                font-weight: 300;
                font-size: 15px;
                margin: 0;
                padding: 0;
            }
        }
    }
    .card__item {
        display: flex;
        overflow: hidden;
        &--description {
            white-space: nowrap;
            overflow: hidden;
            h4,
            p {
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
        &--description,
        span {
            padding: 1rem;
        }
        &--price {
            display: flex;
            align-items: end;
            margin-left: auto;
            font-weight: 900;
            padding: 1rem;
            font-size: 15px;
            font-family: "Roboto", sans-serif;
            font-style: normal;
        }

        &--check {
            background: $tertiary-color;
            align-items: center;
            display: grid;
            border-radius: 0px 15px 15px 0px;
            margin-right: -4rem;
            min-width: 4rem;
            transition: margin-right 500ms;

            & .fa-solid {
                color: $tertiary-color;
                background-color: $white;
                border-radius: 50%;
                display: grid;
                place-items: center;
                font-size: 14px;
                font-weight: 900;
                justify-self: center;
                width: 20px;
                height: 20px;
            }
        }

        &:active .card__item--check {
            margin-right: 0;
        }
    }
}

.order {
    display: flex;
    justify-content: center;

    .btn {
        height: 3.1rem;
        width: 12rem;
        align-content: center;
    }
}
/*Menu section*/
