/*Couleurs*/
$white: #ffffff;
$light-grey: #eaeaea;
$grey-explore: #f6f6f6;
$dark-grey: #353535;
$background-btn: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
$dark-white: #f7f7f7;
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$black: #000;
$background-btn-hover: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);;
